.bg-purple-blue{
  background-color: #0B0338;
}

.bg-purple-blue{
  background-color: #0B0338;
}

.bg-light-grey{
  background-color: lightgrey;
}


.text-white-smoke{
  color:whitesmoke;
}

header > div > .desktop{
  transition: 0.6s;
}

header > div > .desktop:hover{
  transform: translateY(-10px);
}

header > div > .desktop:focus{
  transform: translateY(0px);
}

.active {
  border-bottom-width: 2px;
  border-bottom-color: whitesmoke;
}

.active-dark{
  border-bottom-width: 4px;
  border-bottom-color: black;
}

.main-container-70 {
  position: relative;
  transform: translateY(-70%);
}

.main-container-50 {
  position: relative;
  transform: translateY(-50%);
}

.main-container-150 {
  position: relative;
  transform: translateY(-150%);
}

section > div.menu > a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

/* Fade in */
section > div.menu > a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  opacity: 0%;
  transition: opacity 0.4s, transform 0.4s;
}

.menu-mobile > .mobile{
  position: relative;
}

section > div > a:hover::after,
section > div > a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
}

.menu-mobile{
  width: 350px;
  position: relative;
  box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
  transform: translateX(-150%);
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding: 8px;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.checkbox {
  position: relative;
  transform: translateY(63px) translateX(95px);
  display: block;
  height: 32px;
  width: 32px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

header input[type="checkbox"]:checked ~ .menu-mobile{
  transform: translateX(0);
}

.menu-mobile .mobile:hover{
  font-weight: bolder;
}

.w-55-percent{
  width: 55%;
}

.width-container{
  width: 400px;
}

@media (min-width: 1024px) {
  .main-container-70, .main-container-50 {
    transform: translateY(10%);
  }

  .width-container{
    width: 640px;
  }

  .main-container-150{
    transform: translateY(150px);
  }

}
